.container {
    background-color: rgba(0,0,0,.05);
    width: auto;
}

.heading .col-md {
    background: rgba(0,0,0,.05);
    border: 1px;
}

.row, .col-md {
    padding: 2px;
    border: 2px;
}

.calender_eg {
    padding-top: 10px;
}